autom4te.cache/
modules/
.libs/
*.o
*.lo
*.la
*.so
configure
configure~
config.nice
config.h
config.h.in
config.log
config.status
Makefile
Makefile.global
Makefile.objects
Makefile.fragments
libtool
run-tests.php
.git
.github
